<robot name="autolabor_description">
  <link name="base_link">
    <inertial>
      <origin
        xyz="-0.7 0.886325 -0.3"
        rpy="0.0 0.0 0.0" />
      <mass
        value="40" />
      <inertia
        ixx="0.000595579869264794"
        ixy="5.99238175321912E-08"
        ixz="-1.98242615307314E-08"
        iyy="0.00102462329604677"
        iyz="-1.73115625503396E-05"
        izz="0.00060561972360446" />
    </inertial>
    <visual>
      <origin
        xyz="-0.7 0.886325 -0.3"
        rpy="0.0 0.0 4.712389" />
      <geometry>
        <mesh
          filename="package://laser_scan_matcher/meshes/auto_boat.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.1 0.5" />
      </material>
    </visual>
  </link>
</robot>
