<launch>
  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
        args="0.0 0.0 0.0 1 0.0 0.0 /base_link /laser 40" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
</launch>
